@very-dark-gray: #302640; // Background
@dark-gray: #4f4169; // Current Line & Selection
@gray: #D0C9D6;
@light-gray: #ECE9F1;
@very-light-gray: #F7F5F9; // Foreground
@blue: #DBA5F5; // Comment

@cyan: #66b5f8;
@soft-cyan: #a5affb;
@green: #7ddfc3;
@orange: #FFA26B;
@pink: #DBA5F5;
@purple: #dba5f5;
@red: #FF647C;
@yellow: #ffe29d;
@dark-yellow: #FF647C;
@sandstone: #D0C9D6;

@lace: #f8f8f0;
@white: #F7F5F9;
@black: #000000;
